.SetTodo {
    display: flex;
    margin: 0 auto 10px;
    flex-direction: column;
    width: 20rem;
    border: 1px solid black;
    border-radius: 10px;
    background-color: wheat;
}

.SetTodo textarea {
    font-family: 'Indie Flower', cursive;
    height: 7rem;
    margin: 4pt;
    border-radius: 10px;
    border: 2px solid black;
    border-bottom: 1px solid black;
    outline-style: none;
    font-size: larger;
}

.SetTodo input {
    font-family: 'Indie Flower', cursive;
    margin: 4pt;
    padding: 4px;
    border-radius: 10px;
    border-bottom: 1px solid black;
    outline-style: none;
    font-size: larger;
}

.SetTodo button {
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    margin: 4pt;
    border-radius: 10px;
    border-bottom: 1px solid black;
    outline-style: none;
    font-size: larger;
}

.SetTodo button:hover {
    background: #ccc;
}

.Todos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: rgb(20, 63, 156);
    color: black;
}

.fade-enter {
    opacity: 0;
    transform: translateX(-100%);
    transition: all 0.3s ease-out;
}

.fade-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: all 0.3s ease-out;
}

.fade-exit {
    opacity: 1;
    transition: all 0.3s ease-out;
}

.fade-exit-active {
    opacity: 0;
    transform: translateX(100%);
    transition: all 0.3s ease-out;
}