.NavBar {
    display: flex;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.2);
    height: 45px;
    align-items: center;
}

.AuthBtn {
    background: none;
    border: none;
    font-family: inherit;
    font-size: 20px;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.Buttons {
    display: flex;
    justify-content: center;
    width: fit-content;
    align-items: center;
}

.Login:hover {
    color: skyblue;
}

.SignUp:hover {
    color: orange;
}