.Todo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    border-radius: 10px;
    margin: auto;
    margin-top: 10pt;
    width: 16.5rem;
    text-align: justify;
    padding: 20pt;
    background-color: wheat;
    transition: all 0.3s ease-out;
}

.Todo p {
    word-wrap: break-word;
    width: 80%;
    color: black;
    font-size: larger;
}

.Todo h1 {
    word-wrap: break-word;
}

.Todo button {
    background: none;
    border: none;
    color: salmon;
    font-family: 'Indie Flower', cursive;
    font-weight: bolder;
    cursor: pointer;
    outline-style: none;
}

.Todo button:hover {
    color: red;
}

.fade-enter {
    opacity: 0;
    transform: translateX(-100%);
    transition: all 0.3s ease-out;
}

.fade-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: all 0.3s ease-out;
}

.fade-exit {
    opacity: 1;
    transition: all 0.3s ease-out;
}

.fade-exit-active {
    opacity: 0;
    transform: translateX(100%);
    transition: all 0.3s ease-out;
}